.comment-card {
  margin-top: 4vh;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 6px;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  .comment-card-wrapper {
    display: flex;
    flex: 11 auto;
    flex-direction: column;
    padding: 1rem 0.5rem;
    box-sizing: border-box;
  }
  .comment-footer {
    display: flex;
    font-size: 0.9rem;
    justify-content: flex-start;
    margin-top: auto;
    padding: 0.5rem;
  }
}
